################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/PandaBook/.vs/PandaBook/v15/Server/sqlite3/db.lock
